:javascript

  var require = require || {
    baseUrl: '/assets',
    paths: {
      flamsteed: "flamsteed/lib/javascripts/flamsteed",
      hogan: "hogan/dist/hogan-3.0.0.amd",
      jplugs: "jquery-plugins",
      jquery:  "jquery/dist/jquery",
      -# jtimeago: "jquery-timeago/jquery.timeago",
      -# sailthru: "sailthru/v1",
      -# sCode: "omniture/s_code",
      -# trackjs: "trackjs/trackjs",
      -# dfp: "jquery.dfp.js/jquery.dfp",
      -# autocomplete: "autocomplete/dist/autocomplete",
      -# usabilla: "usabilla/usabilla",
      -# zeroclipboard: "zeroclipboard/dist/ZeroClipboard",
    },
    shim: {
      "xdr": [ "jquery" ],
      "dfp": [ "jquery"]
    },
    waitSeconds: 30
  };

  // App requirejs config is passed and stored on bl.require
  #{ yield :app_require_config }

  if (bl.require && bl.require.paths) {
    for (path in bl.require.paths) {
      require.paths[path] = bl.require.paths[path];
    }
  }

  if (bl.require && bl.require.shim) {
    for (shim in bl.require.shim) {
      require.shim[shim] = bl.require.shim[shim];
    }
  }
