- styled = properties[:styled] if defined? properties
.Preloader.js-preloader{ class: styled ? "Preloader--styled" : "" }
  .Preloader__disc
    .Preloader__disc--coloured.Preloader__disc--blue
  .Preloader__disc
    .Preloader__disc--coloured.Preloader__disc--red
  .Preloader__disc
    .Preloader__disc--coloured.Preloader__disc--green
  .Preloader__disc
    .Preloader__disc--coloured.Preloader__disc--orange
  .Preloader__cover
