#js-stack-list-aside

  - properties[:groups].each_with_index do |group, i|
    
    .u-margin-bottom-small
      .sgPaperMaterial.sgNav--left__group.o-box--small{class: (i > 0) ? "sgNav--left__group--linked" : ""}
        
        - if group[:title]
          %label{class: 'sgNav--left__title', for: "ac-#{group[:section]}"}
            = group[:title]

        - group[:items].each do |item|
          = render 'components/navigation/left_nav_item', item: item
