:ruby
  custom_title = properties[:custom_title]
  responsive_items = properties[:responsive_items]
  items = responsive_items || properties[:items]
  current_item = (items.find {|i| i[:current]} || items.first)[:title]

.sgNav--secondary__container
  -# The secondary navigation for small screens
  .u-hidden.sgNav--secondary.sgNav__tabs
    .o-layout
      %div.o-layout__item{class: 'u-1/2'}
        .sgNav--secondary__col.sgNav--secondary__title
          = !!custom_title ? custom_title.html_safe : current_item

      %div.o-layout__item{class: 'u-1/2'}
        %a.sgNav--secondary__other-toggle.sgNav--secondary__col.js-toggle-active{ data: { toggle_target: ".js-secondary-nav-other-menu", toggle_me: "true" } }
          = !!custom_title ? "Sections" : "Other sections"
          %span.sgNav--secondary__other-toggle--icon.icon--chevron-down.icon--body-grey
          %span.sgNnav--secondary__other-toggle--icon.icon--chevron-up.icon--body-grey

  %nav.o-block--right.sgNav--secondary.js-secondary-nav-other-menu.sgNav--secondary--categories(role="navigation" aria-label="Category navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement")
    %h6.u-accessibility Category navigation

    .o-list-inline{ class: !!responsive_items ? "o-block" : "" }
      = render :partial => "components/navigation/secondary_items", locals: { items: properties[:items] }

    - if !!responsive_items && responsive_items.length > 0
      .o-list-inline.o-block--right.u-hidden
        = render :partial => "components/navigation/secondary_items", locals: { items: responsive_items }
